*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body, p {
  margin: 0;
  padding: 0;
}

body, p, img, ul, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: bottom;
}

body {
  font-size: 10px;
  font-family: formal;
}

a {
  display: block;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#js-black-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
  z-index: 900;
}

#js-black-bg.is-open {
  opacity: 0.7;
  visibility: visible;
}

.contents-box {
  position: relative;
}

.contents-box .vinyl {
  padding-top: 5%;
  padding-left: 5%;
  z-index: -10;
}

.contents-box .vinyl .jacket-pic {
  position: relative;
  margin-right: 110px;
}

.contents-box .vinyl .jacket-pic img {
  width: 200px;
  height: 200px;
  opacity: 1;
  z-index: 500;
}

.contents-box .vinyl .jacket-pic:hover + .vinyl-pic {
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 105px;
  z-index: -10;
}

.contents-box .vinyl .vinyl-pic {
  position: absolute;
  top: calc(5% + 10px);
  left: 5%;
  z-index: -10;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contents-box .vinyl .vinyl-pic img {
  width: 190px;
  height: 190px;
}

.contents-box .anather-contents-box {
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  z-index: 910;
  visibility: hidden;
  opacity: 0;
}

.contents-box .anather-contents-box.is-open {
  visibility: visible;
  opacity: 1;
}

.contents-box .anather-contents-box .contents-box-vinyl-pic {
  margin: 5% 0 0 5%;
  width: 50%;
  height: auto;
}

.contents-box .anather-contents-box .contents-box-vinyl-pic img {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-animation: 3s linear infinite vinyl;
          animation: 3s linear infinite vinyl;
}

@-webkit-keyframes vinyl {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes vinyl {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#bottom {
  height: 2000px;
}

@media screen and (min-width: 476px) {
  #js-black-bg.is-open {
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
  }
  .anather-contents-box.is-open {
    -webkit-transition: opacity 1s ease 0s;
    transition: opacity 1s ease 0s;
  }
}

@media screen and (max-width: 475px) {
  #js-black-bg.is-open {
    -webkit-transition: all 1s ease .9s;
    transition: all 1s ease .9s;
  }
  .vinyl .jacket-pic img {
    width: 200px;
    height: 200px;
    opacity: 1;
    z-index: 500;
  }
  .vinyl .jacket-pic:hover + .vinyl-pic {
    -webkit-transition: all 1s;
    transition: all 1s;
    left: 105px;
    z-index: -10;
  }
  .vinyl .vinyl-pic {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: -10;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .vinyl .vinyl-pic img {
    width: 190px;
    height: 190px;
  }
  .anather-contents-box.is-open {
    -webkit-transition: opacity 1s ease .9s;
    transition: opacity 1s ease .9s;
  }
}
/*# sourceMappingURL=style.css.map */