*,
*:before,
*:after {
  box-sizing: inherit;
}
html, body, p {
    margin: 0;
    padding: 0;
}
body, p, img, ul, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
html {
  box-sizing: border-box;
}
img {
    vertical-align: bottom;
    margin: 0;
    padding: 0;
}
body {
    font-size: 10px;
    font-family: formal;
}
a {
    display: block;
}


@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
$animationSpeed: 15s;
// Animation
@keyframes scroll {
	0% { 
        transform: translateX(0); 
    }
	100% { 
        transform: translateX(calc(-520px * 5))  //カクつく為、marginサイズ忘れずに
    }
}
// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 500px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100vw;
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 500px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}
	&::before {
		left: 0;
		top: 0;
	}
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(520px * 10);  //カクつく為、marginサイズ忘れずに
	}
	.slide {
        margin: 0 10px;
		height: 500px;
		width: 500px;
        & img {
            width: 500px;
            height: 500px;
        }
	}
}


#main {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#js-black-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    z-index: 900;
    &.is-open {
        opacity: 0.7;
        visibility: visible;
    }
}
.contents-box {
    position: relative;
    .vinyl {
        padding-top: 8%;
        z-index: -10;
        .jacket-pic {
            position: relative;
            margin-right: 140px;  //vinyl画像が横から出てくるための空間を確保
            & img {
                width: 200px;
                height: 200px;
                opacity: 1;
                z-index: 500;
            }
            &:hover + .vinyl-pic {
                transition: all 1s;
                left: 130px;
                z-index: -10;
            }
        }
        .vinyl-pic {
            position: absolute;  
            top: calc(8% + 15px);  //.contents-box .vinyl のpadding-topに合せる
            left: 0;
            z-index: -10;
            transition: all 1s;
            & img {
                width: 190px;
                height: 190px;
            } 
        }
    }
    .another-contents-box {
        position: fixed;
        display: flex;
        background-color: #fff; 
        padding: 3%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 80%;
        z-index: 910;
        visibility: hidden;
        opacity: 0;
        &.is-open {
            visibility: visible;
            opacity: 1;
        }
        .contents-box-vinyl-pic {
            margin: 12% 5% 0 0%;
            width: 250px;
            height: 250px;
            img {
                width: 250px;
                height: 250px;
                transform: rotate(0);
                animation:3s linear infinite vinyl;
            }
            @keyframes vinyl {
                0%{
                    transform: rotate(0);
                }
                100%{
                    transform: rotate(360deg);
                }
            }
        }
        .contents-box-vinyl-text {
            width: 50%;
        }
    }
    
}

#bottom {
    height: 2000px;
}

@media screen and (min-width:1080px) {
    #js-black-bg {
        &.is-open {
            transition: all 1s ease 0s;
        }
    }
    .another-contents-box {
        &.is-open {
            transition: opacity 1s ease 0s;
        }
    }
}

@media screen and (max-width:1080px) {
    #js-black-bg {
        &.is-open {
            transition: all 1s ease .7s;
        }
    }
    .another-contents-box {
        &.is-open {
            transition: opacity 1s ease .7s;
            width: 90%;
            .contents-box-vinyl-pic {
                margin: 12% 5% 0 0%;
                width: 200px;
                height: 200px;
                img {
                    width: 200px;
                    height: 200px;
                    transform: rotate(0);
                    animation:3s linear infinite vinyl;
                }
            }
            .contents-box-vinyl-text {
                padding: 5% 0;
                width: 60%;
            }
        }
    }

}
@media screen and (max-width:474px) {
    .another-contents-box {
        &.is-open {
            display: block;
            width: 90%;
            height: 60%;
            .contents-box-vinyl-pic {
                margin: 0 auto;
                width: 200px;
                height: 200px;
                img {
                    width: 200px;
                    height: 200px;
                    transform: rotate(0);
                    animation:3s linear infinite vinyl;
                }
            }
            .contents-box-vinyl-text {
                padding: 5% 0;
                width: 100%;
            }
        }
    }

}