@font-face {
  font-family: main;
  src: url(font/LeagueGothic-Regular-VariableFont_wdth.ttf);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body, p {
  margin: 0;
  padding: 0;
}

body, p, img, ul, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  font-family: main;
  overflow-x: hidden;
}

a {
  display: block;
}

header {
  width: 90%;
  margin: .6rem 3.0rem;
}

header h1 {
  font-size: 5.0rem;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-500px * 5));
            transform: translateX(calc(-500px * 5));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-500px * 5));
            transform: translateX(calc(-500px * 5));
  }
}

.slider {
  background: white;
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 15s linear infinite;
          animation: scroll 15s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(1000px * 10);
}

.slider .slide {
  height: 500px;
  width: 500px;
}

.slider .slide img {
  width: 500px;
  height: 500px;
}

#main {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 auto;
}

#main .main-title {
  padding: 2%;
  font-size: 3.0rem;
  width: 100%;
}

#js-black-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
  z-index: 900;
}

#js-black-bg.is-open {
  opacity: 0.7;
  visibility: visible;
}

.contents-box {
  position: relative;
}

.contents-box .vinyl {
  padding-top: 8%;
  z-index: -10;
}

.contents-box .vinyl .jacket-pic {
  position: relative;
  margin-right: 150px;
  -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.125);
          box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.125);
}

.contents-box .vinyl .jacket-pic img {
  width: 200px;
  height: 200px;
  opacity: 1;
  z-index: 500;
}

.contents-box .vinyl .jacket-pic:hover + .vinyl-pic {
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 130px;
  z-index: -10;
}

.contents-box .vinyl .vinyl-pic {
  position: absolute;
  top: calc(8% + 10px);
  left: 0;
  z-index: -10;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contents-box .vinyl .vinyl-pic img {
  width: 190px;
  height: 190px;
}

.contents-box .vinyl-text-box {
  margin: 2% 0 2% 0;
  width: 90%;
}

.contents-box .vinyl-text-box .vinyl-title {
  font-size: 1.5rem;
}

.contents-box .vinyl-text-box .vinyl-artist {
  font-size: 1.5rem;
}

.contents-box .another-contents-box {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 3%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  z-index: 910;
  visibility: hidden;
  opacity: 0;
}

.contents-box .another-contents-box.is-open {
  visibility: visible;
  opacity: 1;
}

.contents-box .another-contents-box .contents-box-vinyl-pic {
  margin: 12% 5% 0 0%;
  width: 250px;
  height: 250px;
}

.contents-box .another-contents-box .contents-box-vinyl-pic img {
  width: 250px;
  height: 250px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-animation: 3s linear infinite vinyl;
          animation: 3s linear infinite vinyl;
}

@-webkit-keyframes vinyl {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes vinyl {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.contents-box .another-contents-box .contents-box-vinyl-text {
  width: 50%;
}

#bottom {
  height: 2000px;
}

@media screen and (min-width: 1080px) {
  #js-black-bg.is-open {
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
  }
  .another-contents-box.is-open {
    -webkit-transition: opacity 1s ease 0s;
    transition: opacity 1s ease 0s;
  }
}

@media screen and (max-width: 1080px) {
  #js-black-bg.is-open {
    -webkit-transition: all 1s ease .7s;
    transition: all 1s ease .7s;
  }
  .another-contents-box.is-open {
    -webkit-transition: opacity 1s ease .7s;
    transition: opacity 1s ease .7s;
    width: 90%;
  }
  .another-contents-box.is-open .contents-box-vinyl-pic {
    margin: 12% 5% 0 0%;
    width: 200px;
    height: 200px;
  }
  .another-contents-box.is-open .contents-box-vinyl-pic img {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation: 3s linear infinite vinyl;
            animation: 3s linear infinite vinyl;
  }
  .another-contents-box.is-open .contents-box-vinyl-text {
    padding: 5% 0;
    width: 60%;
  }
}

@media screen and (max-width: 474px) {
  header {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  header h1 {
    font-size: 3.0rem;
    margin: 2% auto;
  }
  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-300px * 5));
              transform: translateX(calc(-300px * 5));
    }
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-300px * 5));
              transform: translateX(calc(-300px * 5));
    }
  }
  .slider {
    height: 300px;
  }
  .slider .slide-track {
    width: calc(300px * 10);
  }
  .slider .slide {
    height: 300px;
    width: 300px;
  }
  .slider .slide img {
    width: 300px;
    height: 300px;
  }
  #main {
    padding: 0 3%;
  }
  .main-title {
    font-size: 3.0rem;
    text-align: center;
  }
  .contents-box .vinyl .jacket-pic {
    margin-right: 100px;
  }
  .contents-box .vinyl .jacket-pic img {
    width: 170px;
    height: 170px;
  }
  .contents-box .vinyl .jacket-pic:hover + .vinyl-pic {
    left: 100px;
  }
  .contents-box .vinyl .vinyl-pic {
    position: absolute;
    top: calc(8% + 5px);
    left: 0;
  }
  .contents-box .vinyl .vinyl-pic img {
    width: 160px;
    height: 160px;
  }
  .contents-box .vinyl-text-box .vinyl-title {
    font-size: 1.0rem;
  }
  .contents-box .vinyl-text-box .vinyl-artist {
    font-size: 1.0rem;
  }
  .another-contents-box.is-open {
    display: block;
    width: 90%;
    height: 60%;
  }
  .another-contents-box.is-open .contents-box-vinyl-pic {
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
  .another-contents-box.is-open .contents-box-vinyl-pic img {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation: 3s linear infinite vinyl;
            animation: 3s linear infinite vinyl;
  }
  .another-contents-box.is-open .contents-box-vinyl-text {
    padding: 5% 0;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */