*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body, p {
  margin: 0;
  padding: 0;
}

body, p, img, ul, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  font-family: formal;
}

a {
  display: block;
}

#main {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#js-black-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
  z-index: 900;
}

#js-black-bg.is-open {
  opacity: 0.7;
  visibility: visible;
}

.contents-box {
  position: relative;
}

.contents-box .vinyl {
  padding-top: 8%;
  z-index: -10;
}

.contents-box .vinyl .jacket-pic {
  position: relative;
  margin-right: 140px;
}

.contents-box .vinyl .jacket-pic img {
  width: 200px;
  height: 200px;
  opacity: 1;
  z-index: 500;
}

.contents-box .vinyl .jacket-pic:hover + .vinyl-pic {
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 130px;
  z-index: -10;
}

.contents-box .vinyl .vinyl-pic {
  position: absolute;
  top: calc(8% + 15px);
  left: 0;
  z-index: -10;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contents-box .vinyl .vinyl-pic img {
  width: 190px;
  height: 190px;
}

.contents-box .another-contents-box {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 3%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  z-index: 910;
  visibility: hidden;
  opacity: 0;
}

.contents-box .another-contents-box.is-open {
  visibility: visible;
  opacity: 1;
}

.contents-box .another-contents-box .contents-box-vinyl-pic {
  margin: 12% 5% 0 0%;
  width: 250px;
  height: 250px;
}

.contents-box .another-contents-box .contents-box-vinyl-pic img {
  width: 250px;
  height: 250px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-animation: 3s linear infinite vinyl;
          animation: 3s linear infinite vinyl;
}

@-webkit-keyframes vinyl {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes vinyl {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.contents-box .another-contents-box .contents-box-vinyl-text {
  width: 50%;
}

#bottom {
  height: 2000px;
}

@media screen and (min-width: 1080px) {
  #js-black-bg.is-open {
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
  }
  .another-contents-box.is-open {
    -webkit-transition: opacity 1s ease 0s;
    transition: opacity 1s ease 0s;
  }
}

@media screen and (max-width: 1080px) {
  #js-black-bg.is-open {
    -webkit-transition: all 1s ease .7s;
    transition: all 1s ease .7s;
  }
  .another-contents-box.is-open {
    -webkit-transition: opacity 1s ease .7s;
    transition: opacity 1s ease .7s;
    width: 90%;
  }
  .another-contents-box.is-open .contents-box-vinyl-pic {
    margin: 12% 5% 0 0%;
    width: 200px;
    height: 200px;
  }
  .another-contents-box.is-open .contents-box-vinyl-pic img {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation: 3s linear infinite vinyl;
            animation: 3s linear infinite vinyl;
  }
  .another-contents-box.is-open .contents-box-vinyl-text {
    padding: 5% 0;
    width: 60%;
  }
}

@media screen and (max-width: 474px) {
  .another-contents-box.is-open {
    display: block;
    width: 90%;
    height: 60%;
  }
  .another-contents-box.is-open .contents-box-vinyl-pic {
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
  .another-contents-box.is-open .contents-box-vinyl-pic img {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation: 3s linear infinite vinyl;
            animation: 3s linear infinite vinyl;
  }
  .another-contents-box.is-open .contents-box-vinyl-text {
    padding: 5% 0;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */